body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(green-grass.jpeg);
  background-size: cover;
  background-repeat: inherit;
  height: auto;
  width: auto;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  align-content: center;
}
h1 {
  color: goldenrod;
  text-align: center;
  text-shadow: 0px 0px 2px goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS";
  color: #016f32;
  width: 180px;
  background-color: goldenrod;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  border: 2px solid rgb(48, 147, 180);
  /* box-shadow: 2px 2px 5px rgb(30, 143, 180); */
}

/* .newcard {
  font: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  padding: 20px;
  border: none;
  border-radius: 5px;
  display: block;
  align-content: center;
} */
